<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Task Manager</title>
</head>
<body>
	<h1>Task Manager!</h1>

	<form action="/add" method="POST">
		<input type="text" name="content" placeholder="Enter a new Task" required>
		<button type="submit">Add Task</button>
	</form>

	<h2>Tasks:</h2>
	<ul>
		{% for task in tasks %}
			<li>{{ task.content }}</li>
			<a href="delete/{{ task.id }}">Delete</a>
		{% else %}
			<li>No task yet.</li>
		{% endfor %}
	</ul>

</body>
</html>
